<?xml version="1.0" encoding="utf-8" standalone="yes"?><ap:Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes" xmlns:ap="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><ap:Template>WACO_sjabloon_2022%20(34).dotx</ap:Template><ap:Application>Microsoft Word for the web</ap:Application><ap:DocSecurity>0</ap:DocSecurity><ap:ScaleCrop>false</ap:ScaleCrop><ap:Manager /><ap:Company /><ap:SharedDoc>false</ap:SharedDoc><ap:HyperlinkBase /><ap:HyperlinksChanged>false</ap:HyperlinksChanged><ap:AppVersion>16.0000</ap:AppVersion><ap:LinksUpToDate>false</ap:LinksUpToDate></ap:Properties>